<div
  class="flex min-h-full flex-col justify-center sm:mx-auto sm:w-full sm:max-w-md"
>
  <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
    Sign up for an account
  </h2>
  <div
    class="mt-8 px-10 py-8 bg-gray-100 border border-gray-300 rounded-lg shadow"
  >
    <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" class="space-y-6">
      <div>
        <label for="name" class="block text-sm font-medium text-gray-700">
          Name
        </label>
        <div class="mt-1 relative rounded-md">
          <input
            id="name"
            formControlName="name"
            type="text"
            autocomplete="name"
            class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400"
          />
          <div
            *ngIf="
              signUpForm.get('name')?.errors?.['required'] &&
              signUpForm.get('name')?.touched
            "
            class="text-red-500 text-sm"
          >
            Name is required
          </div>
        </div>
      </div>

      <div>
        <label for="email" class="block text-sm font-medium text-gray-700">
          Email
        </label>
        <div class="mt-1 relative rounded-md">
          <input
            id="email"
            formControlName="email"
            type="email"
            autocomplete="email"
            class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400"
          />
          <div
            *ngIf="
              signUpForm.get('email')?.errors?.['required'] &&
              signUpForm.get('email')?.touched
            "
            class="text-red-500 text-sm"
          >
            Email is required
          </div>
          <div
            *ngIf="
              signUpForm.get('email')?.errors?.['email'] &&
              signUpForm.get('email')?.touched
            "
            class="text-red-500 text-sm"
          >
            Invalid email format
          </div>
        </div>
      </div>

      <div>
        <label for="avatar" class="block text-sm font-medium text-gray-700">
          Avatar URL
        </label>
        <div class="mt-1 relative rounded-md">
          <input
            id="avatar"
            formControlName="avatar"
            type="text"
            autocomplete="off"
            class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md text-sm placeholder-gray-400"
            aria-label="Avatar URL"
          />
          <div
            *ngIf="
              signUpForm.get('avatar')?.errors?.['required'] &&
              signUpForm.get('avatar')?.touched
            "
            class="text-red-500 text-sm"
          >
            Avatar URL is required
          </div>
          <div
            *ngIf="
              signUpForm.get('avatar')?.errors?.['pattern'] &&
              signUpForm.get('avatar')?.touched
            "
            class="text-red-500 text-sm"
          >
            Please provide a valid image URL (must end in .png, .jpg, .jpeg, or
            .svg).
          </div>
        </div>
      </div>

      <div>
        <label for="password" class="block text-sm font-medium text-gray-700">
          Password
        </label>
        <div class="mt-1 relative rounded-md">
          <input
            id="password"
            formControlName="password"
            [type]="showPassword ? 'text' : 'password'"
            autocomplete="new-password"
            class="appearance-none block w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400"
            aria-label="Password"
          />
          <span class="absolute inset-y-0 right-0 flex items-center pr-3">
            <button type="button" (click)="togglePasswordVisibility()">
              <svg
                *ngIf="showPassword"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3.98 8.223A10.477 10.477 0 0 0 1.934 12C3.226 16.338 7.244 19.5 12 19.5c.993 0 1.953-.138
                  2.863-.395M6.228 6.228A10.451 10.451 0 0 1 12 4.5c4.756 0 8.773 3.162 10.065 7.498a10.522 10.522 0 0
                  1-4.293 5.774M6.228 6.228 3 3m3.228 3.228 3.65 3.65m7.894 7.894L21 21m-3.228-3.228-3.65-3.65m0 0a3 3
                  0 1 0-4.243-4.243m4.242 4.242L9.88 9.88"
                />
              </svg>

              <svg
                *ngIf="!showPassword"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M2.036 12.322a1.012 1.012 0 0 1 0-.639C3.423 7.51 7.36 4.5 12 4.5c4.638 0 8.573 3.007 9.963
                  7.178.07.207.07.431 0 .639C20.577 16.49 16.64 19.5 12 19.5c-4.638 0-8.573-3.007-9.963-7.178Z"
                />
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15 12a3 3 0 1 1-6 0 3 3 0 0 1 6 0Z"
                />
              </svg>
            </button>
          </span>
          <div
            *ngIf="
              signUpForm.get('password')?.errors?.['required'] &&
              signUpForm.get('password')?.touched
            "
            class="text-red-500 text-sm"
          >
            Password is required
          </div>
          <div
            *ngIf="
              signUpForm.get('password')?.errors?.['minlength'] &&
              signUpForm.get('password')?.touched
            "
            class="text-red-500 text-sm"
          >
            Password must be at least 4 characters
          </div>
        </div>
      </div>

      <div>
        <button
          type="submit"
          [disabled]="!signUpForm.valid"
          class="w-full py-2 px-4 text-sm font-medium text-white bg-green-500 rounded-md hover:bg-green-600 disabled:bg-gray-500"
        >
          Sign up
        </button>
      </div>
    </form>
  </div>
</div>
