<div
  *ngIf="isOpen | async"
  class="fixed inset-0 flex items-center justify-center z-40 bg-black bg-opacity-50"
>
  <div class="bg-white rounded-lg w-11/12 md:w-1/2 mx-auto">
    <div class="p-5 rounded-t-lg flex">
      <h2 class="flex-1 text-3xl font-extrabold text-gray-900 text-center">
        {{ customTitle }}
      </h2>
      <button
        (click)="close()"
        class="flex justify-center cursor-pointer hover:text-red-500"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="3"
          stroke="currentColor"
          class="w-8 h-8"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M6 18 18 6M6 6l12 12"
          ></path>
        </svg>
      </button>
    </div>
    <div class="p-5 mb-5">
      <ng-content></ng-content>
    </div>
  </div>
</div>
