<div *ngIf="products?.length; else noProducts">
  <div class="grid gap-6 sm:grid-cols-2 lg:grid-cols-4">
    <div
      *ngFor="
        let product of products
          | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }
      "
      class="flex flex-col bg-gray-100 border border-gray-300 rounded-lg shadow overflow-hidden"
    >
      <app-product-slider [product]="product"></app-product-slider>

      <div
        class="flex-1 flex flex-col p-4 shadow-lg hover:shadow-xl transition-shadow duration-300 ease-in-out"
      >
        <a [routerLink]="['/products', product.id]">
          <h5 class="text-lg font-semibold text-gray-800 hover:text-green-500">
            {{ product.title }}
          </h5>
        </a>
        <span class="text-xs font-semibold text-gray-500">
          {{ product.category.name }}
        </span>
        <p class="flex-1 text-sm text-gray-600 mt-2">
          {{ product.description | truncate: 200 }}
        </p>

        <div class="mt-auto">
          <div class="flex justify-between items-center mt-4">
            <div class="text-xl font-bold text-green-500">
              ${{ product.price }}
            </div>
            <div *ngIf="isLoggedIn$ | async" class="flex gap-2">
              <button
                (click)="addOrRemoveFromCart(product)"
                class="hover:scale-110 duration-500"
                [ngClass]="{
                  'cursor-pointer': !isProductInCart(product.id)
                }"
              >
                <svg
                  [ngClass]="{ 'fill-green-500': isProductInCart(product.id) }"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6 hover:fill-green-500"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M2.25 3h1.386c.51 0 .955.343 1.087.835l.383 1.437M7.5 14.25a3 3 0 0 0-3
                    3h15.75m-12.75-3h11.218c1.121-2.3 2.1-4.684 2.924-7.138a60.114 60.114 0 0 0-16.536-1.84M7.5
                    14.25 5.106 5.272M6 20.25a.75.75 0 1 1-1.5 0 .75.75 0 0 1 1.5 0Zm12.75 0a.75.75 0 1 1-1.5 0 .75.75
                    0 0 1 1.5 0Z"
                  />
                </svg>
              </button>
              <button
                (click)="addOrRemoveFromFavorites(product)"
                class="hover:scale-110 duration-500"
              >
                <svg
                  [ngClass]="{ 'fill-red-500': isFavorite(product) }"
                  xmlns="http://www.w3.org/2000/svg"
                  fill="none"
                  viewBox="0 0 24 24"
                  stroke-width="1.5"
                  stroke="currentColor"
                  class="w-6 h-6 hover:fill-red-500"
                >
                  <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312
                    2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12Z"
                  />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="flex justify-center mt-5">
    <app-pagination
      [currentPage]="currentPage"
      [itemsPerPage]="itemsPerPage"
      [totalItems]="products.length"
      (pageChanged)="onPageChange($event)"
    ></app-pagination>
  </div>
</div>
<ng-template #noProducts>
  <app-no-data-found dataType="Products"></app-no-data-found>
</ng-template>
